# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
import zipfile
with zipfile.ZipFile('Orders.zip', 'r') as zip_ref:
    zip_ref.extractall()

orders = pd.read_csv('Orders.csv')
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
orders_1 = orders[['CustomerID','amount_spent']]

orders_2 = orders_1.groupby(['CustomerID']).agg({'amount_spent':sum})
orders_2

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [4]:
np.quantile(orders_2,0.95)
orders_VIP = orders_2[orders_2['amount_spent'] > np.quantile(orders_2,0.95)].reset_index()
orders_VIP

     CustomerID  amount_spent
0         12346      77183.60
1         12357       6207.67
2         12359       6372.58
3         12409      11072.67
4         12415     124914.53
..          ...           ...
212       18109       8052.97
213       18139       8438.34
214       18172       7561.68
215       18223       6484.54
216       18229       7276.90

[217 rows x 2 columns]

In [5]:
np.quantile(orders_2,0.75)
orders_Preferred = orders_2[(orders_2['amount_spent'] > np.quantile(orders_2,0.75)) & (orders_2['amount_spent'] < np.quantile(orders_2,0.95))].reset_index()

In [6]:
new_column = []
for i in orders['CustomerID']:
    if i in orders_VIP['CustomerID'].unique() :
        new_column.append('VIP')
    elif i in orders_Preferred['CustomerID'].unique() :
        new_column.append('Preferred')
    else:
        new_column.append('Common')

In [7]:
orders['Type'] = new_column

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [24]:
# your code here

orders_VIP = orders.loc[orders['Type'] == 'VIP']
orders_VIP = orders_VIP.groupby(['Country','Type']).agg({'Type':'count'})
orders_VIP[orders_VIP['Type'] == orders_VIP['Type'].max()]

                      Type
Country        Type
United Kingdom VIP   84185

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [33]:
# your code here

orders_combined = orders.loc[(orders['Type'] == 'VIP')|(orders['Type'] == 'Preferred')]
orders_combined = orders_combined.groupby(['Country']).agg({'Type':'count'})
orders_combined[orders_combined['Type'] == orders_combined['Type'].max()]

                  Type
Country
United Kingdom  221635